<ui:composition template="template.xhtml"
				xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:h="http://java.sun.com/jsf/html"
				xmlns:f="http://java.sun.com/jsf/core"
>

	<ui:define name="content">
	   <h:form id="cadastroForm">
		
			<h:panelGrid columns="3">
				<h:outputLabel id="nomeLabel" value="Nome:" for="inputNome" />
				<h:inputText id="inputNome" value="#{usuarioBean.user.nome}" />
				<h:message for="inputNome" />
								
				<h:outputLabel id="enderecoLabel" value="Endereço:" for="inputEndereco" />
				<h:inputText id="inputEndereco" value="#{usuarioBean.user.endereco}" />
				<h:message for="inputEndereco" />				
				
				<h:outputLabel id="emailLabel" value="Email:" for="inputEmail" />
				<h:inputText id="inputEmail" value="#{usuarioBean.user.email}" />
				<h:message for="inputEmail" />
				
				<h:outputLabel id="sexoLabel" value="Sexo:" for="sexoSelect" />
				<h:selectOneMenu id="sexoSelect" value="#{usuarioBean.user.sexo}">
					<f:selectItem itemValue="M" itemLabel="Masculino" />
					<f:selectItem itemValue="F" itemLabel="Feminino" />
				</h:selectOneMenu>
				<h:message for="sexoSelect" />
				
				<h:outputLabel id="telefoneLabel" value="Telefone:" for="inputTelefone" />
				<h:inputText id="inputTelefone" value="#{usuarioBean.user.telefone}" />
				<h:message for="inputTelefone" />					
																
				<h:outputLabel id="dtNascimentoLabel" value="Data de Nascimento:" for="inputDtNascimento" />
				<h:inputText id="inputDtNascimento" value="#{usuarioBean.user.dataNascimento}" />
				<h:message for="inputDtNascimento" />					
								
				<h:outputLabel id="senhaLabel" value="Senha:" for="inputSenha" />
				<h:inputText id="inputSenha" value="#{usuarioBean.user.senha}" />
				<h:message for="inputSenha" />	
				
				<h:outputLabel value="Tipo do documento:" />
				<h:selectOneRadio id="selectTipo" value="#{usuarioBean.user.tipoDoc}">
					<f:selectItem itemValue="RG" itemLabel="RG" />
					<f:selectItem itemValue="CPF" itemLabel="CPF" />
				</h:selectOneRadio>
				<h:message for=""/>
				
				<h:outputLabel id="tipoLabel" value="Número do doc.:" for="imputTipo" />
				<h:inputText id="imputTipo" value="#{usuarioBean.user.numeroDoc}" />
				<h:message for="imputTipo" />									
								
				<h:commandButton value="Cadastrar" action="#{usuarioBean.editarUsuario}" />
				<h:button value="Voltar" /> 
		
			</h:panelGrid>
		
		</h:form>
	</ui:define>
</ui:composition>