<ui:composition template="template.xhtml"
				xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:h="http://java.sun.com/jsf/html"
				xmlns:f="http://java.sun.com/jsf/core">
				

	<ui:define name="content">
		
		<h:form id="pesquisaForm" method="get">
	    	<h:outputLabel for="itTitulo">Pesquisar:</h:outputLabel>
		    <h:inputText binding="#{itPesquisa}"/>
	    	<h:commandButton action="#{perguntaBean.prepararPesquisa(itPesquisa.value)}" value="Ir"></h:commandButton>
	    	<h:message for="itPesquisa"/>
	    	<br />
	    </h:form>
	    <h:form id="perguntarForm">
	    	<h3>Faça uma pergunta:</h3>
	    	<h:outputLabel for="itTitulo">Título:</h:outputLabel>
	    	<br />
	    	<h:inputText id="itTitulo" required="true" value="#{perguntaBean.pergunta.titulo}" name="titulo"></h:inputText>
	    	<h:message for="itTitulo"/>
	    	<br />
	    	<h:outputLabel for="itaFazerPergunta">Pergunta:</h:outputLabel>
	    	<br />
	    	<h:inputTextarea id="itaFazerPergunta" required="true" value="#{perguntaBean.pergunta.pergunta}" name="pergunta"></h:inputTextarea>
	    	<h:message for="itaFazerPergunta"/>
	    	<br />
	    	<h:commandButton action="#{perguntaBean.cadastrarPergunta}" value="Perguntar" onclick="return confirm('Tem certeza que deseja cadastrar essa pergunta?')"></h:commandButton>
	    	<br />
	    	<br />
	    </h:form>
	    <h:form>
			<h:commandLink action="listarUsuarios.xhtml">USUARIOS</h:commandLink>
			<br />
		</h:form>
	</ui:define>
</ui:composition>


