<ui:composition template="template.xhtml"  
    xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
	
	<ui:define name="content">
	    <h2>Usuarios:</h2>
	    <br />
	    
	    <h:dataTable border="1" value="#{usuarioBean.usuarios}" cellpadding="5" cellspacing="3" var="u">
	    
	    	<h:column>
				<f:facet name="header">
					<h:outputText value="Numero:" />
				</f:facet>
				<h:outputText value="#{u.id}" />
			</h:column>	
			
			<h:column>
				<f:facet name="header">
					<h:outputText value="Nome:" />
				</f:facet>
				<h:outputText value="#{u.nome}" />
			</h:column>
			
			<h:column>
				<f:facet name="header">
					<h:outputText value="Doc:" />
				</f:facet>
				<h:outputText value="#{u.tipoDoc}" />
			</h:column>		
			
			<h:column>
				<f:facet name="header">
					<h:outputText value="Número do doc:" />
				</f:facet>
				<h:outputText value="#{u.numeroDoc}" />
			</h:column>	
	    
	    	<h:column>
				<f:facet name="header">
					<h:outputText value="Ações" />
				</f:facet>
				
				<h:form>
					<h:commandButton value="Excluir" action="#{usuarioBean.removerUsuario(u)}"/>
					<h:commandButton value="Alterar" action="#{usuarioBean.prepararEdicao(u)}"/>
				</h:form>
			</h:column>
	    
	    </h:dataTable>
	</ui:define>
	
</ui:composition>
