<form method="post" action="j_security_check">
<label for="username">Usuário</label>
<input type="text" id="username" name="j_username" /><br />
<label for="password">Senha</label>
<input type="password" id="password" name="j_password" /><br />
<input type="submit" value="Login" />
</form>