<ui:composition template=""  
    xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
	
	<ui:define name="content">
	    <h2>Suas perguntas:</h2>
	    <br />
	    
	    <h:dataTable value="" var="resp">
	    
	    	<h:column>
				<f:facet name="header">
					<h:outputText value="Numero:" />
				</f:facet>
				<h:outputText value="" />
			</h:column>	
			
			<h:column>
				<f:facet name="header">
					<h:outputText value="Título:" />
				</f:facet>
				<h:outputText value="" />
			</h:column>	
	    
	    </h:dataTable>
	</ui:define>
	
</ui:composition>
