<ui:composition template="template.xhtml"
				xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:h="http://java.sun.com/jsf/html"
				xmlns:f="http://java.sun.com/jsf/core"
>
	<ui:define name="content">
	    <h:form id="cadastroForm">
		
			<h:panelGrid columns="2">
				<h:outputLabel value="Nome:" />
				<h:outputLabel id="nomeLabel" value="" />
								
				<h:outputLabel value="Endereço:" />
				<h:outputLabel id="enderecoLabel" value="" />
								
				<h:outputLabel value="E-mail:" />
				<h:outputLabel id="emailLabel" value="" />				
				
				<h:outputLabel value="Sexo:" />
				<h:outputLabel id="sexoLabel" value="" />
				
				<h:outputLabel value="Telefone:" />
				<h:outputLabel id="telefoneLabel" value="" />		
																
				<h:outputLabel value="Data de Nascimento:" />
				<h:outputLabel id="dataLabel" value="" />		
								
				<h:outputLabel value="Senha:" />
				<h:outputLabel id="senhaLabel" value="" />
				
				<h:outputLabel value="Tipo de documento:" />
				<h:outputLabel id="tipoLabel" value="" />
				
				<h:outputLabel value="Numero:" />
				<h:outputLabel id="numeroLabel" value="" />						
								
				<h:commandButton value="Editar" />
				<h:button value="Voltar" /> 
		
			</h:panelGrid>
		</h:form>
		
	</ui:define>
</ui:composition>
