<ui:composition template="template.xhtml" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

	<ui:define name="content">
		 <h2>Resultados:</h2>
	    <br />
	    
	    <h:dataTable value="#{perguntaBean.pesquisa}" cellpadding="5" cellspacing="3" var="p">
	    
	    	<h:column>
				<f:facet name="header">
					<h:outputText value="Perguntas:" />
				</f:facet>
				<h:outputText value="#{p.pergunta}" />
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputText value="Ações" />
				</f:facet>
				<h:form>
					<h:commandButton value="Ver" action="#{perguntaBean.verPergunta}"/>
				</h:form>
			</h:column>
	    
	    </h:dataTable>
	</ui:define>
</ui:composition>