<ui:composition template="template.xhtml"
				xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:h="http://java.sun.com/jsf/html"
				xmlns:f="http://java.sun.com/jsf/core"
>
	<ui:define name="content">
		<h:panelGrid columns="2" >
			
			<h:outputLabel>Id: </h:outputLabel>
	    	<h:outputLabel id="labelId" name="id" value="#{perguntaBean.pergunta.id}"></h:outputLabel>
			
			<h:outputLabel>Usuário: </h:outputLabel>
	    	<h:outputLabel id="labelNomeUser" name="usuario" value="#{perguntaBean.pergunta.usuario}"></h:outputLabel>
	    	
	    	<h:outputLabel>Título:</h:outputLabel>
	    	<h:outputLabel id="labelTitulo" name="titulo" value="#{perguntaBean.pergunta.titulo}"></h:outputLabel>
	    
	    	<h:outputLabel>Pergunta: </h:outputLabel>
	    	<h:outputLabel id="labelPergunta" name="pergunta" value="#{perguntaBean.pergunta.pergunta}" />
	   	 
	   	</h:panelGrid>
	    <h2>Responder: </h2>
	    <br />
	    <h:form>
	    	<h:inputTextarea id="itaResposta" name="resposta" value="#{respostaBean.resposta.resposta}"/>
	    	<br />
	    	<h:commandButton value="Salvar Resposta" action="#{respostaBean.cadastrarResposta}" />
	    </h:form>
	    
	    <h:dataTable value="#{respostaBean.respostas}" cellpadding="5" cellspacing="3" var="r">
	    
	    	<h:column>
				<f:facet name="header">
					<h:outputText value="Numero:" />
				</f:facet>
				<h:outputText value="#{r.id}" />
			</h:column>	
			
			<h:column>
				<f:facet name="header">
					<h:outputText value="Respostas:" />
				</f:facet>
				<h:outputText value="#{r.resposta}" />
			</h:column>
	    </h:dataTable>	    
	</ui:define>
</ui:composition>
