<ui:composition template="template.xhtml"
				xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:h="http://java.sun.com/jsf/html"
				xmlns:f="http://java.sun.com/jsf/core"
>
	<ui:define name="content">
		<h:panelGrid columns="2">
			<h:outputLabel>Usuário: </h:outputLabel>
	    	<h:outputLabel id="labelNomeUser" name="usuario" value="#{perguntaBean.pergunta.usuario}"></h:outputLabel>
	    	
	    	<h:outputLabel>Título:</h:outputLabel>
	    	<h:outputLabel id="labelTitulo" name="titulo" value="#{perguntaBean.pergunta.titulo}"></h:outputLabel>
	    
	    	<h:outputLabel>Pergunta: </h:outputLabel>
	    	<h:inputTextarea id="labelPergunta" name="pergunta" value="#{perguntaBean.pergunta.pergunta}"></h:inputTextarea>			
	    	<h:form>
	    		<h:commandButton value="Salvar" action="#{perguntaBean.cadastrarPergunta}" />
	    	</h:form>
	    </h:panelGrid>
	</ui:define>

</ui:composition>
