<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<head>
  <title></title>
</head>

<body>

<div id="header">
    <h2 align="center"> IDEZ QeA </h2>
	<hr />
</div>


<div id="content">
  <ui:insert name="content">
    	Content area.  See comments below this line in the source.
  </ui:insert>
</div>

<div id="footer">
<hr />
  <h5 align="center">
	Desenvolvimento de sistemas Web
  <br />
	José Rodrigues da Rocha Neto
</h5>
</div>

</body>

</html>
